# Meson & Ninja build artifacts
builddir/
subprojects/simavr/builddir/

# Compiled Binaries (just in case they aren't in builddir)
avr-probe

# Temporary files
*.o
*.a
*.so
*.txt
!README.md
!tools/*.c
